<li>
	{{this.name}}

		{{#if this.devour}}<button class="change-devour" data-id="{{this.id}}" data-newdevour="{{this.devour}}">
	Devour it!</button>
		{{else}}<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
		{{/if}}
	

	
</li>
